<mat-dialog-content>
    <h1>Create Bank Details</h1>
    <form action="" [formGroup]="createBankForm" (ngSubmit)="onSubmitBankDetails()">
        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Bank Name</mat-label>
                    <input type="text" matInput placeholder="Sampath Bank" formControlName="bankName">
                </mat-form-field>
                <mat-error *ngIf="createBankForm.controls['bankName'].touched && createBankForm.controls['bankName'].hasError('required')">Bank Name is Required.</mat-error>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="incorpDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="createBankForm.controls['incorpDate'].touched && createBankForm.controls['incorpDate'].hasError('required')">Date is Required.</mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>No. Of Staff</mat-label>
                    <input type="text" matInput placeholder="100" formControlName="noOfStaff">
                </mat-form-field>
                <mat-error *ngIf="createBankForm.controls['noOfStaff'].touched && createBankForm.controls['noOfStaff'].hasError('required')">No. Of Staff is Required.</mat-error>
            </div>
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>No. Of Branches</mat-label>
                    <input type="text" matInput placeholder="100" formControlName="noOfBranches">
                </mat-form-field>
                <mat-error *ngIf="createBankForm.controls['noOfBranches'].touched && createBankForm.controls['noOfBranches'].hasError('required')">No. Of Branches is Required.</mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Favorite food</mat-label>
                        <mat-select formControlName="bankStatus">
                            <mat-option value="A">Active</mat-option>
                            <mat-option value="I">Inactive</mat-option>
                        </mat-select>
                </mat-form-field>
                <mat-error *ngIf="createBankForm.controls['bankStatus'].touched && createBankForm.controls['bankStatus'].hasError('required')">Bank Status is Required.</mat-error>
            </div>
        </div>
        <button mat-raised-button color="primary">Register Bank Details.</button>
    </form>
</mat-dialog-content>